// Override .ng-table settings
.ng-table {
	// bottom border
	//border-bottom: 2px solid rgb(221, 221, 221);

	// align headers left
	th {
		text-align: left;
	}

	// sortable header row	
	th.sortable {
		font-weight: normal;
		
		&.sort-asc, &.sort-desc {
			background-color: white;
			font-weight: bold;
		}
	}
	
	// table filters row
	th.filter {
		.has-feedback {
  			padding-right: 0px;
		}

		// override most of Bootstrap's settings for .form-control-feedback
		// to minimize paddings		
		.form-control-feedback {
			width: 22px;
			cursor: pointer;
			pointer-events: all;
			color: #888;
		}
	}
}


// custom .ng-table pager
ul.pager {
	li {
		height: 30px;
		line-height: 30px;
		vertical-align: middle;
	}
}