<nav>
	<!-- table pager -->
	<ul class="pager ng-cloak" ng-show="params.total() > 0">
	
		<!-- results count -->
		<li class="pull-left">
			{{ params.$params.tr["Displaying results:"] ? params.$params.tr["Displaying results:"] : "Displaying results:" }}
			<b>
				{{ params.count() * (params.page() - 1) + 1 }} - {{ params.count() * params.page() < params.total() ? params.count() * params.page() : params.total() }}
			</b>
			{{ params.$params.tr["of"] ? params.$params.tr["of"] : "of" }}
			<b>
				{{ params.total() }}
			</b>
		</li>
	
		<!-- table pager: page -->
		<li ng-class="{'invisible': params.settings().$scope.pages.length == 0}">
			{{ params.$params.tr["Page:"] ? params.$params.tr["Page:"] : "Page:" }}&nbsp;
			<div class="btn-group btn-group-sm">
				<button class="btn"
						ng-class="{
							'btn-default': page.type == 'prev' || page.type == 'next' || page.number != params.page(),
							'btn-primary': !(page.type == 'prev' || page.type == 'next' || page.number != params.page()),
							'disabled': (page.type == 'more')
								|| (page.type == 'prev' && params.page() <= 1)
								|| (page.type == 'next' && params.page() >= params.total() / params.count())
						}"
						ng-repeat="page in params.settings().$scope.pages"
						ng-click="params.page(page.number)">
					<span ng-if="page.type == 'prev'"><i class="fa fa-chevron-left"></i></span>
					<span ng-if="page.type == 'first'"><span ng-bind="page.number"></span></span>
					<span ng-if="page.type == 'page'"><span ng-bind="page.number"></span></span>
					<span ng-if="page.type == 'more'">&#8230;</span>
					<span ng-if="page.type == 'last'"><span ng-bind="page.number"></span></span>
					<span ng-if="page.type == 'next'"><i class="fa fa-chevron-right"></i></span>
				</button>
            </div>
        </li>

		<!-- table pager: results per page -->
		<li class="pull-right">
			{{ params.$params.tr["Results per page:"] ? params.$params.tr["Results per page:"] : "Results per page:" }}&nbsp;
			<div ng-if="params.settings().counts.length" class="btn-group btn-group-sm">
				<button ng-repeat="count in params.settings().counts" type="button"
						ng-class="{'active':params.count() == count}"
						ng-click="params.count(count)" class="btn btn-default">
					<span ng-bind="count"></span>
				</button>
			</div>
		</li>
    </ul>
</nav>